* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #26262B;
  color: #FFF;
}

*, input, button {
  outline: 0;
}

body {
  font-size: 14px;
}

div {
  width: 100%;
  margin-top: 20px;
}

div li {
  display: flex;
  align-items: stretch;
}

div li + li {
  margin-top: 15px;
}

button {
  background: #7159c1;
  color: #fff;
  border: 0;
  padding: 10px 15px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  border-radius: 6px;
}

div li button {
  margin: 0 15px;
  background: #ca4949;
}

.container {
  display: flex;
  flex:1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-input {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: #56545c;
  height: 50px;
  line-height: 50px;
  margin-bottom: 15px;
}

.rightside{
  margin-left: 35px;
}
